[package]
authors = ["Sturdy <sturdy@apollo.farm>"]
edition = "2021"
name = "cw-dex-router"
version = "0.1.0"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = 3
overflow-checks = true
panic = 'abort'
rpath = false

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []

[package.metadata.scripts]
optimize = """docker run --rm -v "$(pwd)":/code \
  --mount type=volume,source="$(basename "$(pwd)")_cache",target=/code/target \
  --mount type=volume,source=registry_cache,target=/usr/local/cargo/registry \
  cosmwasm/rust-optimizer:0.12.6
"""

[dependencies]
cosmwasm-std = "1.1.0"
cosmwasm-storage = "1.1.1"
# We must use an old version of cw-storage-plus because cw-asset uses this version
# TODO: Make PR to cw-asset to update to latest version of cw-storage-plus
cosmwasm-schema = "1.1.1"
cw-asset = "2.3.0"
cw-controllers = "0.15.0"
cw-dex = {git = "https://github.com/apollodao/cw-dex"}
cw-storage-plus = "0.16"
cw2 = "0.15.0"
cw20 = "0.15.0"
schemars = "0.8.10"
serde = {version = "1.0.144", default-features = false, features = ["derive"]}
thiserror = {version = "1.0.31"}

[dev-dependencies]
cw-multi-test = "0.15.0"
